@import "tailwindcss";

@theme {
  --font-sans: var(--font-source-sans);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text);
  background-color: #fff;
}
